.hptext { font-size: xx-small; color: #ff0099; }
.hptext2 { font-size: xx-small; color: black; }
.mptext { font-size: xx-smal; color: darkblue; }
.petstatus-aplow { background-color: #999999; }
.petstatus-apcritical { background-color: #999933; }
.petstatus-mpsurplus { background-color: #cc6677; color:black; }
.petstatus-nextpet td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.petstatus-nextpet2 td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
tr.recipe-complete { background-color: #dddddd; }
tr.recipe-partial { background-color: #bbbbbb; }
tr.recipe-empty { background-color: #999999; color: #444444; }
span.component-rare { color: #882255; }
span.component-uncommon { color: #117733; }
span.component-common { }
td.component-rare { color: #882255; font-weight: bold; }
td.component-uncommon { color: #117733; font-weight: bold; }
td.component-common { font-weight: bold; }
.component-undefined { font-style: italic; }
.component-fixed { font-style: italic; }
.immutable { font-weight: bold; }
span.match-safe { background-color: #ddcc77; }
span.match-inventory { background-color: #88ccee; }
.safeEmpty { color: #000000; font-weight: bold; }
.safeLow { background-color: #cc6677; }
.safeMid { background-color: #ddcc77; }
.safeHigh { background-color: #88ccee; }
.retrieveSafe {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline;
}
.completionlevel-inventory { background-color: #44aa99; }
.completionlevel-safe { background-color: #999933; }
.safeitem-rare { background-color: #882255; color: #ffffff; }
.safeitem-uncommon { background-color: #117733; color: #ffffff; }
.safeitem-common { background-color: #999999; color: #ffffff; }
tr.recipe-partial form { display: none; }
.recipename { width: 99px; }
.recipelist { width: 170px; }
.summarycell { width: 26px; }
.summary-empty { background-color: #777777; }
td.match-safe { background-color: #ddcc77; }
td.match-inventory { background-color: #88ccee; }
.MageHealthBar {
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-bottom: 0;
  position: relative;
  top: -10px;
  background-image: url(data:image/gif;base64,R0lGODlhAQAFAIABAACZAP%2F%2F%2FywAAAAAAQAFAAACAoRdADs%3D);
}
.MageHealthBar2 {
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-bottom: 0;
  background-image: url(data:image/gif;base64,R0lGODdhAQAFAIACAAAAAP8AACwAAAAAAQAFAEACAoxdADs=);
}
.bar{ 
  line-height: 1px;
  height: 5px;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 20px;
  bottom: 1px;
  background-color: #ff0000;
  left: 0;
}
.bar2{
  line-height: 1px;
  height: 5px;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 20px;
  bottom: 1px;
  background-color: #00ff00;
  left: 0;
}
.numberdiv{
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 20px;
  position: relative;
}
.MageNoWrap { white-space: nowrap ! important; }
.MageHide { display: none ! important; }
.MageBarBck { position: absolute; left: 1; top: 18; display: inline; z-index: 0 }
.MageBar { position: absolute; left: 1; top: 18; display: inline; z-index: 1 }
.MagePetHit { font-size: smaller; color: lightcoral ! important; padding-left: 4em; }
.MagePetHitMe { font-size: smaller; color: red ! important; padding-left: 4em; }
.MagePetKill { font-size: smaller; color: crimson; padding-left: 4em; }
.MagePetMiss { font-size: smaller; color: #CAA083; padding-left: 4em; }
.MagePetHealOthers { font-size: smaller; color: #5050aa; padding-left: 4em; }
.MagePetHealMe { font-size: smaller; color: #0808aa; padding-left: 4em; }
.MagePetRejuv { font-size: smaller; color: #aa50aa; padding-left: 4em; }
.MagePetDespawn { font-size: smaller; color: #ff8000; padding-left: 4em;}
.MageAttackHit { color: red ! important; }
.MageAttackMiss { color: deeppink; }
.MageAttacked { color: red; font-weight: 600; }
.MageAttackedbyEnvironment { color: red; font-weight: 100; }
.MageHealed { color: #0808aa; }
.MageAchievement { font-size: smaller; padding-left: 4em; }
.MageAchievementColour { color: #aa0000; }
.MageSpeech { color: dodgerblue; }
.MageAction { color: #aaaaff; }
.MageWhisper{ color: MediumOrchid; }
.MageMe{ color: darkblue; }
.MageReceivedSomething{ color: #ff8040; }
.MageCraft{ color: #8d4f9d; }
.MageSearchNothing{ color: #8c8c55; }
.MageSearchYay{ color: #8c8c00; }
.libshadows{ color: #dd0101; font-weight: bold; }
.liblights{ color: dodgerblue; }
.liblightsoff{ color: #bf4020; }
.libfaded { color: red; }
.libkill { color: red; font-weight: 600; }
.libgave { color: #bf4020; }
.libsummon { color: red ! important; }
.libfort { color: #9900ff; font-size: smaller; }
.libgood { color: #11dd11; }
.libbad { color: #dd1111; }
.libc-settingtable { width: 100%; }
.libc-settingrow { background-color: #dddddd; }
.libc-settingname { width: 20px; }
.libc-settinglist { width: 90px; }
.libc-settingspan { background-color: #bbbbbb; border: 1px dotted black; }
.liblink {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline;
}
.char { white-space: nowrap; }
